body{
    background-color: rgb(255, 198, 196);
    font-family: 'Epilogue', sans-serif;
}
h1{
    text-align: center;
    font-weight: 100;
}
.one{
    padding-top: 2%;
    width: 50%;
    margin: 0 auto;
}
.two{
    border: 1px solid black;
    padding: 5%;
}
.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
input{
    margin: 1% 0;
}
input[type=text], input[type=button]{
    padding: 2%;
    font-size: 1rem;
    border-radius: 5px;
}
input[type=text]{
    width: 50%;
}
<<<<<<< HEAD:style.css
input[type=text]:hover, input[type=button]:hover{
    background-color:  rgb(255, 238, 238);

}
=======
>>>>>>> e141a83842511ff383abf6a26f7087e3c66414dc:two.css
input[type=button]{
    width: 51.2%;
    transition: .10s;
}
input[type=button]:hover{
    width: 54.2%;
    cursor: pointer;
}